exclude .readthedocs.yaml environment.yml .pre-commit-config.yaml
exclude CONTRIBUTING.rst
include AUTHORS.rst CHANGES.rst LICENSE.rst README.rst
include CITATION.cff
include noxfile.py
include requirements-testing.in
recursive-exclude data *
recursive-exclude docs *
recursive-exclude news *
recursive-exclude notebooks *
recursive-exclude tests *
